<a href="https://colab.research.google.com/github/KenKinoti/care-crest-api-go/blob/main/Copy_of_Control_flow_ipynb_class_17th_October_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# if

if condition:
  # executes if condition is true

# elif

elif another_condition:
  # executes if another condition is true

# else
else:
  # executed if none of the conditions are true

In [ ]:
# example

age = 25

if age >= 25:
  print("You can enter the club.")
else:
  print("Boy Bye!")

Boy Bye!

In [ ]:
# example with elif

age = 24

if age >= 25:
  print("You can enter the club.")
elif age >= 24:
  print("Come next Year")
else:
  print("Boy Bye!")

Come next Year

In [ ]:
score = 40

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
elif score <= 60:
  print("Fail")
else:
  print("D")

Fail

In [ ]:
# working with lists

age = [25, 43, 37, 62, 22, 17, 11, 51]
for x in age:
    print(x)

25
43
37
62
22
17
11
51

In [ ]:
age = [25, 43, 37, 62, 22, 17, 11, 51]

print(age[1:-3])

[43, 37, 62, 22]

In [ ]:
# list[start:stop:step]
age = [25, 43, 37, 62, 22, 17, 11, 51]
print(age[0:-2:2])

[25, 37, 22]

In [ ]:
print(age[1:]) #print all elemets startin at posn 1
print(age[0:-2]) #print all elements from posn 0, excluding the last 2 elements on the list
print(age[:4]) # prints elements starting at posn 0 to posn 3
print(age[:]) #prints all the elements in the list

[43, 37, 62, 22, 17, 11, 51]
[25, 43, 37, 62, 22, 17]
[25, 43, 37, 62]
[25, 43, 37, 62, 22, 17, 11, 51]

In [ ]:
dictionary = {"name":"John",
              "age": 40,
              "work": "data analyst"}

for key in dictionary:
  print(key)

for value in dictionary.values():
  print(value)

name
age
work
John
40
data analyst

In [ ]:
dictionary = {"name":"John",
              "age": 40,
              "work": "data analyst"}
list(dictionary.values())

['John', 40, 'data analyst']

In [ ]:
print(dictionary["name"])
print(dictionary["age"])
print(dictionary["work"])

John
40
data analyst

In [ ]:
# modify elements
dictionary['age'] = 55
print(dictionary)

{'name': 'John', 'age': 55, 'work': 'data analyst'}

In [ ]:
# adding a key-value pair
dictionary['salary'] = 900000
print(dictionary)

{'name': 'John', 'age': 55, 'work': 'data analyst', 'salary': 900000}

In [ ]:
# remove a key-value pair
del(dictionary['age'])
print(dictionary)

{'name': 'John', 'work': 'data analyst', 'salary': 900000}

In [ ]:
dictionary = {"name":"John",
              "age": 40,
              "work": "data analyst"}

# for key in dictionary:
#   print(key)

# for value in dictionary.values():
#   print(value)

for key, value in dictionary.items():
  print(f'{key}:{value}')

name:John
age:40
work:data analyst

In [ ]:
for x in dictionary.items():
  print(x)

('name', 'John')
('age', 40)
('work', 'data analyst')

In [ ]:
# create a prog that counts the frequency of each character in a string

string = 'hello world'
char_count = {}

# your code goes here